a {
    color: #1a01ff;
    text-decoration: none; 
}
a:hover {
    color: #f80808;
    text-decoration: underline;
    font-size: 1.1rem;
    font-weight: 700;
}
a:active {  
    color: #fc3758;
}

a:visited {
    color: #6557c0;
}

